@model List<Card>

        <div class="container">
            <div class="row">
                 <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Icon</th>
          <th scope="col">Description</th>
          <th scope="col">Title</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @foreach(Card card in Model){
                <tr>
              <th scope="row">@card.Id</th>
              <td>@card.Icon</td>
              <td>@card.Description</td>
              <td>@card.Title</td>
              <td>
                  <a asp-action="Update" asp-route-id="@card.Id" class="btn btn-warning">Update</a>
                  <a asp-action="Delete" asp-route-id="@card.Id"  class="btn btn-danger">Delete</a>
              </td>
                </tr>
        }
      </tbody>
    </table>
         </div>

        </div>

   