@model List<Product>

<div class="container">
    <div class="col 4"><h2>Bu product yaradilmasi ucundur</h2></div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Main Image path</th>
                <th scope="col">Hover Image path</th>
                <th scope="col">Category Name</th>
            </tr>
            </thead>
            <tbody>
            @foreach (Product product in Model)
            {
                <tr>
                    <th scope="row">@product.Id</th>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Price</td>
                    <td><img src="@product.MainImagePath" alt="product image" width="120" />
                    </td>
                    <td><img src="@product.HoverImagePath" alt="product image" width="120" />
                    </td>
                    <td>@product.Category.Name</td>
                    <td>
                        <a asp-action="Update" asp-route-id="@product.Id" class="btn btn-warning">Update</a>
                        <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger deletebtn">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    const deleteButtons = document.querySelectorAll('.deletebtn');
    deleteButtons.forEach(btn=>{
        btn.addEventListener('click',(e)=>{
            e.preventDefault();
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: "Deleted!",
                        text: "Your file has been deleted.",
                        icon: "success"
                    });
                    
                    window.location.href=btn.href;
                }
            });
        })
    })
    
</script>